
<link rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
crossorigin="anonymous"
>

<!--  AREA FUENTES-->

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Rubik:ital,wght@1,300&display=swap" rel="stylesheet">

<h1>CONTACTOS FARMACIA PRIMAVERA </h1>
<div class="container">

<h1>DIRECCION: {{dir}} </h1>
<h1>CELULAR: {{cel}}</h1>
<br>
<h1>¿COMO LLEGAR?</h1>
<div id="contenido ">
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15302.723262705937!2d-68.1401416!3d-16.491692!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd6142ab65251a1e6!2sFarmacia%20primavera!5e0!3m2!1ses-419!2sbo!4v1637106642790!5m2!1ses-419!2sbo" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
<br>
<h1>¿SUGERENCIAS?</h1>
<form method="POST" >

  <div class="form-group ">
    <label for="inputEmail4">NOMBRES</label>
    <input type="text" class="form-control" name="nombres" id="inputEmail4">
  </div>
  <div class="form-group ">
    <label for="inputPassword4">CORREO</label>
    <input type="text" class="form-control" name="apellido" id="inputPassword4" >
  </div>

<div class="form-group">
  <label for="inputAddress2">DUDAS Y/O RECOMENDACIONES</label>
  <textarea class="form-control"  id="exampleFormControlTextarea1" rows="3"></textarea>

</div>
<div id="centro">
<button type="submit" name="subida" value= 1 class="btn btn-success btn-lg">ENVIAR</button>
    &nbsp;
    &nbsp;
    &nbsp;
<button type="reset"  class="btn btn-success btn-lg">CANCELAR</button>
</div>
  </form>
</div>

