
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.6/css/bootstrap.min.css">
<!--  AREA FUENTES-->

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Rubik:ital,wght@1,300&display=swap" rel="stylesheet">

  <div class="container">
    <h1>PÁGINA INICIAL</h1>
<br><br>
<div class="container" id="cont">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <img src="../../assets/nosotros-farmacia.jpg" class="card-img-thumbnail-top" alt="..." id="img1">

        <div class="card-body">
          <h5 class="card-title">NOSOTROS</h5>
          <p class="card-text">La empresa esta conformada por un equipo especializado, el cual ayudara en todas las necesidades que los clientes tienen. </p>


        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <img src="../../assets/mision-farmacia.jpg" class="card-img-thumbnail-top" id="img1" alt="...">
        <div class="card-body">
          <h5 class="card-title">MISION</h5>
          <p class="card-text">La mision de la empresa es brindar un servicio de calidad para los diferentes usarios que requieren nuestros servicios.</p>


        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <img src="../../assets/vision-farmacia.jpeg" class="card-img-thumbnail-top" id="img1" alt="...">

        <div class="card-body">
          <h5 class="card-title">VISION</h5>
          <p class="card-text">La vision de la empresa es llegar a todas las personas posibles, simpre con un gran trato hacia ellos, sabiendo que todos somos iguales ante la ley.</p>


        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <img src="../../assets/delivery.jpg" class="card-img-thumbnail-top" id="img1" alt="...">
        <div class="card-body">
          <h5 class="card-title">SERVICIO DE DELIVERY</h5>
          <p class="card-text">Farmacia primavera le ofrece un servicio de deliery, si no quiere venir a la farmacia ¡nosotros vamos a su domicilio! (aplican costos)</p>


        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <img src="../../assets/Farmacia1.jpg" class="card-img-thumbnail-top" id="img1" alt="...">

        <div class="card-body">
          <h5 class="card-title">VENTA DE MEDICAMENTOS</h5>
          <p class="card-text">Farmacia primavera le ofrece sus diferentes productos, hacia su disposicion.</p>
          <a id="bt" class="btn btn-outline-success btn-lg" routerLink="/venta" routerLinkActive="active"> IR A VENTA DE MEDICAMENTOS</a>

        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <img src="../../assets/contactos-farmacia.jpg" class="card-img-thumbnail-top" id="img1" alt="...">
        <div class="card-body">
          <h5 class="card-title">CONTACTOS  </h5>
          <p class="card-text">¿Quieres saber mas sobre la empresa? Entra a la pestaña de contactos, ademas si quieres dejar alguna sugerencia o recomendacion no dudes de hacerlo </p>
          <a id="bt" class="btn btn-outline-success btn-lg" routerLink="/contacto" routerLinkActive="active">IR A CONTACTOS</a>

        </div>
      </div>
    </div>
  </div>
</div>
